*{
    text-decoration: none;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}


.home{
    width: 100%;
    height: 100vh;
   background-image: url(images/home-background.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    height: 200px;
    position: absolute;
    margin-left: 20px;
    margin-top: -1%;  
}

.electronics-image-container{
    position: absolute;
    margin-top: 2%;
    margin-left: 57%;
 
}

header{
    width: 100%;
    height:200px;
    display: flex;
    justify-content: space-between;   
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    padding-left: 30px;
    padding-top: 9%;
   
  
}

.nav{
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.Name-text{
    color: rgb(2, 2, 2);
    margin-top:6%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    width: 80%;
    font-style: italic;
}

.discount-text{
    color: rgb(0, 67, 253);
    margin-left: 6%;
    margin-top: 1%;
    font-size: 20px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;

}





.about-us{
    height: 100vh;
    width: 100%;
    background-image: url(images/about-us\ background.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.about-us-header-text{
    color:rgb(255, 136, 1);
    margin-left: 43%;
    margin-top:5%;
   
}

.about-us-text{
   
   width: 80%;
   margin-left: 3%;
    
}
.about-us-text p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 10%;
    padding-left: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}





.contact-us{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.contact-us-header-text{
    color:rgb(0, 0, 0);
    margin-left: 43%;
    margin-top:5%;
}


form{
    position: absolute;
    margin-left: 6%;
    height: 70%;
    width: 43%;
    margin-top: 2%;
   
   
}
#fullname{
 width: 80%;
 margin-top: 20px;
 height: 50px;
 margin-left: 10%;
 padding-left: 35%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 20px;

}
#email{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    height: 50px;
    padding-left: 10px;
    padding-left: 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
#message{
   width: 80%;
   margin-left: 10%;
    margin-top: 20px;
    height: 200px;
    padding-left: 10px;
    padding-left: 35%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#submit-button{
margin-top:22px;
margin-left: 27%;
width:45%;
height:50px;
border: none;
background-color:rgb(255, 0, 0);
color: white;
font-size: 18px;

}
.contact-us-image{
    margin-left: 6%;
}





.products{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.products h1{
    color:rgb(255, 0, 0);
    position: absolute;
    margin-left: 24%;
    margin-top:5%;
    font-style: italic;
}

.smart-tv-container{
    width: 260px;
    height: 300px;
    background-color: white;
    margin-top: 16%;
    margin-left: 8%;
    border: 1px greenyellow solid;
    font-size: 20px;
    padding-left: 2%;
    font-style: italic;
    color: rgb(245, 151, 11);
}

.fridge-container{
    width: 260px;
    height: 300px;
    background-color: white;
    margin-top: -22%;
    margin-left: 30%;
    border: 1px rgb(47, 50, 255) solid;
    font-size: 20px;
    padding-left: 2%;
    font-style: italic;
    color: rgb(15, 11, 245);
}

.ps4-container{
    width: 260px;
    height: 300px;
    background-color: white;
    margin-top: -22%;
    margin-left: 52%;
    border: 1px rgb(255, 47, 47) solid;
    font-size: 26px;
    padding-left: 2%;
    font-style: italic;
    color: rgb(245, 11, 11);
}

.woofer-container{
    width: 260px;
    height: 300px;
    background-color: white;
    margin-top: -22%;
    margin-left: 75%;
    border: 1px rgb(196, 47, 255) solid;
    font-size: 26px;
    padding-left: 2%;
    font-style: italic;
    color: rgb(226, 11, 245);
}
